<div class="preguntas">
  <h2>Preguntas frecuentes</h2>
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">
        <h6>¿El ozono es bueno?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span
          >El OZONO puede ser bueno o malo, dependiendo de donde se encuentre.
          El ozono "bueno" se encuentra en la naturaleza a aproximadamente 50 km
          sobre la superficie terrestre. Se considera el principal filtro de los
          rayos ultravioleta del sol. <br />
          Sin suficiente ozono bueno, la exposición excesiva a la radiación UV
          puede aumentar el riesgo de cáncer en la piel, cataratas y problemas
          en el sistema inmunitario. El ozono "malo“ se encuentra entre la
          superficie terrestre y los 10 metros de altura. Se forma cuando los
          contaminantes de los automóviles, las fábricas y otras fuentes
          reaccionan químicamente con la luz del sol. <br />
          Es el componente principal del smog. Puede provocar tos, irritación en
          la garganta, empeoramiento de afecciones como asma, bronquitis y
          enfisema pulmonar si la exposición a éste es habitual. <br />
          El ozono médico se crea artificialmente pasando oxígeno de grado
          médico a través de un campo eléctrico en un dispositivo probado
          médicamente que crea niveles reproducibles de ozono en dosis
          específicas. <br />
          La aplicación de ozono médico induce una multitud de reacciones
          bioquímicas</span
        >
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>¿Porqué se oscurecen los dientes?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span
          >El diente está formado por dos capas: una externa llamada esmalte,
          que es traslúcida y una interna llamada dentina, que puede presentar
          distintas tonalidades. <br />
          La dentina es la responsable del color del diente y con el tiempo esta
          se oscurece y se torna amarillenta por diferentes factores como el
          pigmento de los alimentos, fumar tabaco, uso de algunos medicamentos,
          traumatismos dentarios, tratamientos de endodoncia, etc. <br />
          El blanqueamiento dental es un tratamiento odontológico estético que
          cambia la coloración de los dientes y permite restablecer el tono
          natural. <br />
          Es importante saber que no todas las personas tienen un tono natural
          muy claro, así como tampoco el blanco puro es lo natural. <br />
          Después de realizar el tratamiento es importante evitar consumir
          alimentos y bebidas muy pigmentantes para conservar por más tiempo el
          tono obtenido.</span
        >
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>¿Es malo tener metales en la boca?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
  </ul>
</div>
