<div class="footer" id="ubicacion">
  <div class="container-footer">
    <div class="item-footer">
      <div class="sub-item-footer">
        <p class="p-1">Agenda una cita</p>
        <p class="p-3">con gusto te atenderemos</p>
        <p class="p-3">Envía un mensaje por whatsapp</p>
        <p class="p-2">5620087550</p>
        <h4 class="p-1">Horario</h4>
        <p class="p-2">
          <i class="fa-solid fa-calendar-days"></i>
          Lunes a Viernes de 9:00am a 6:00pm <br />
          Sábados de 9:00am a 1:00pm
        </p>
      </div>
      <div class="sub-item-footer">
        <div class="item-mapa">
          <img src="assets/mapa.jpg" alt="" />
        </div>
        <div class="codigos">
          <i class="fa-solid fa-tooth"></i>

          &nbsp;<span> 318 798 </span>&nbsp;
          <i class="fa-solid fa-tooth"></i>

          &nbsp;<span>54121381948 </span>&nbsp;
          <i class="fa-solid fa-tooth"></i>
          &nbsp;<span>71427321893</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-footer">
  <div class="sub-item-footer2">
    <p>© Biodontiq.Todos los derechos reservados.</p>
    <p><a href="#">Diseñado por Agencia de Marketing Digital Dentarios</a></p>
  </div>
</div>
