<div class="container-amalgamas">
  <h2>Blanqueamiento dental con Ozono</h2>
  <span class="resaltar text-center"
    >“La mejor opción para aclarar tus dientes sin riesgo de sensibilidad”</span
  >
  <div class="container-item-amalgamas">
    <div class="item-amalgmas">
      <p>
        Los <span class="resaltar">dientes claros </span>son signo de salud,
        juventud y belleza, por lo que es un tratamiento cada vez más solicitado
        por los pacientes en la consulta dental.
      </p>
      <img src="assets/image13.jpeg" alt="" />
      <p>
        El <span class="resaltar">blanqueamiento dental</span> es la técnica con
        la cual se logra aclarar los dientes a su tono original. Actualmente las
        técnicas de blanqueamiento incluyen la utilización de productos químicos
        que son agresivos para la estructura de los dientes, ya que poseen un pH
        ácido que puede producir descalcificación dental y, en la mayoría de los
        casos, sensibilidad e incluso lesiones en las encías si no se maneja el
        producto blanqueador cuidadosamente.
      </p>
      <p>
        El <span class="resaltar">blanqueamiento con ozono</span> se realiza con
        oxígeno medicinal, que de forma natural respeta la biología de los
        dientes y elimina los pigmentos que los oscurecen, y como beneficio
        adicional, proporciona un efecto terapéutico al eliminar bacterias
        patógenas, favoreciendo así a la salud de las encías y mucosa bucal.
      </p>
    </div>
    <span class="resaltar resaltar2">¡Luce una sonrisa sana y radiante!</span>
  </div>
</div>
