.promociones {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-promociones {
  width: 90%;
  position: relative;
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.promociones h2 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin: 12px auto 12px auto !important;
  color: #5e5e5e;
}

.item-promociones img {
  max-width: 100%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

@media (min-width: 900px) {
  .promociones {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-promociones {
    width: 95%;
    position: relative;
    margin: 15px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .promociones h2 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin: 8px auto 8px auto !important;
    color: #5e5e5e;
  }
}
