.modal {
  border: none;
  padding: 24px;
}
.close {
  position: absolute;
  top: 5px;
  right: 2%;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #009092;
}
.close span {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
.container-promos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.modal-title h6 {
  text-align: center;
  font-size: 17px;
  margin: 0;
  padding: 10px;
  font-weight: 600;
}
.img-promo {
  max-width: 100%;
}
.item-promos {
  padding: 10px;
}
.modal-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-contacto a {
  background-color: #009092;
  padding: 7px 20px;
  margin: 10px auto;
  color: #fff;
}
@media (min-width: 767px) {
  .container-promos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .item-promos {
    padding: 10px;
  }
}
