<div class="hero" id="nosotros">
  <div class="item-hero">
    <p>
      <span class="resalto">Somos una clínica dental</span>
      que se enfoca en proporcionar servicios integrales de salud bucal,
      centrándonos no sólo en el tratamiento de los problemas dentales, sino
      también en las causas subyacentes y el bienestar general del paciente.
    </p>
    <p>
      Consideramos la conexión que hay entre la salud bucal y el resto del cuerpo, 
      por lo que tratamos al paciente como “un todo”.
     
    </p>
    <p>
      <span class="resalto"
        >Hacemos énfasis en la importancia de la prevención</span
      >
      , por lo que guiamos a nuestros pacientes en cómo pueden mantener una
      buena salud bucal, a través de hábitos y estilo de vida saludables. 
      <span class="resalto"> Contamos con más de 20 años de experiencia</span>
      ayudando a obtener sonrisas sanas.
    </p>
    <p style="text-align: center;">"La buena salud empieza con una boca sana"</p>
  </div>
  <div class="item-hero">
    <img src="assets/doctora.jpg" alt="" />
  </div>
</div>
