<div class="hero" id="nosotros">
  <div class="item-hero">
    <p>
      La <span class="resalto">Odontología Biológica</span> es un enfoque de la
      práctica dental que se centra en el cuerpo como un todo y considera que la
      salud oral está intrínsecamente relacionada con la salud general del
      cuerpo.
    </p>
    <p>
      Los <span class="resalto">dentistas biológicos</span> consideramos el
      efecto que los procedimientos y materiales dentales pueden tener en el
      cuerpo, por lo que elegimos tratamientos menos invasivos y más
      biocompatibles.
    </p>
    <p>
      Para <span class="resalto">BIODONTIQ</span> la salud de nuestros pacientes
      es lo más importante, por tal motivo ofrecemos tratamientos odontológicos
      de calidad, a través de una atención respetuosa y personalizada de un
      equipo profesional comprometido con la excelencia, la ética y la
      vanguardia.
    </p>
  </div>
  <div class="item-hero">
    <img src="assets/draNora.png" alt="" />
  </div>
</div>
