<nav class="navbar">
  <div class="wraper-container">
    <a href="" class="logo-container">
      <img src="/assets/biodontiq-logo.png" alt="" class="logo" />
    </a>
    <div class="fondo-menu" [ngClass]="collapsed ? 'openMenu2' : ''"></div>
    <ul class="menu" [ngClass]="collapsed ? 'openMenu' : ''">
      <li>
        <a href="#nosotros" (click)="onMenu()"
          >Inicio
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#nosotros" (click)="onMenu()"
          >Nosotros
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#tratamientos" (click)="onMenu()"
          >Tratamientos
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#servicios" (click)="onMenu()"
          >Servicios
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#promociones" (click)="onMenu()"
          >Promociones
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=5620087550"
          target="_blank"
          class="btn-especial"
          >Contacto</a
        >
      </li>
    </ul>
    <div class="btn-menu" (click)="onMenu()">
      <img src="assets/menu.png" alt="" />
    </div>
  </div>
</nav>
