<div class="container-amalgamas">
  <h2>Remoción segura de amalgamas</h2>
  <div class="container-item-amalgamas">
    <div class="item-amalgmas">
      <p>
        La <span class="resaltar">amalgama dental</span> es una aleación hecha
        con una mezcla de mercurio (50%) y otros metales (plata, estaño, cobre y
        zinc).​
      </p>
      <img src="assets/image7.jpeg" alt="" />
      <p>
        El <span class="resaltar">mercurio </span> es un metal líquido, es el
        elemento​ no radioactivo más tóxico de la tierra, por lo que ​
        representa una peligrosa amenaza para la salud pública.
      </p>
      <p>
        La <span class="resaltar">exposición al mercurio</span> (incluso a
        pequeñas cantidades) puede causar graves problemas de salud: es
        perjudicial para el desarrollo intrauterino y primeras etapas de la
        vida, también puede producir daño a los sistemas nervioso, inmunológico,
        urinario, cardiaco, digestivo y respiratorio.
        <span class="resaltar">
          “Ninguna cantidad de exposición al vapor de mercurio puede ser
          considerada inofensiva, especialmente si se considera su efecto
          acumulativo”
        </span>
      </p>
    </div>
    <div class="item-amalgmas">
      <p>
        <span class="resaltar">Investigaciones</span> científicas demuestran que
        la amalgama dental libera vapores de mercurio en ciertas circunstancias,
        por ejemplo durante la masticación, al cepillar los dientes, al apretar
        o rechinar los dientes (bruxismo) y al tomar bebidas calientes. Esta
        liberación se da en forma continua y se acumula en el cuerpo a lo largo
        del tiempo. Los efectos adversos de esta exposición pueden no producir
        manifestación durante años o décadas, lo que permite que pueda
        prolongarse el daño.​
      </p>
      <div class="caja-video">
        <div class="item-video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/SmswlK8ojq4?si=PFhIGEs8VmPNtZeL"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="item-video">
          <img src="assets/image8.jpeg" alt="" />
        </div>
      </div>
      <p>
        La <span class="resaltar">IAOMT</span> (International Academy of Oral
        Medicine and Toxicology) recomienda seguir un protocolo para la remoción
        segura de la amalgama dental, el cual se conoce como SMART (Safe Mercury
        Amalgam Removal Technique) “Técnica de Eliminación Segura de Amalgama de
        Mercurio”.​
      </p>
    </div>
    <div class="item-amalgmas">
      <p>
        En <span class="resaltar"> BIODONTIQ</span> llevamos a cabo las medidas
        de este protocolo de seguridad, por lo que puedes tener la confianza de
        que serás protegido adecuadamente durante todo el procedimiento de la
        remoción de amalgamas. La amalgama se reemplaza por
        <span class="resaltar">resina libre de BPA </span>, la cual es un
        material de restauración del mismo color del diente que permite
        recuperar su aspecto natural y funcionalidad.
      </p>

      <p>
        El <span class="resaltar">BPA </span> (Bis Phenol-A) es una sustancia
        química que se utiliza en la fabricación de plásticos, y por su
        capacidad para unirse a los receptores de estrógenos se le considera un
        potencial disruptor endócrino.
      </p>
      <div class="img-amalgamas">
        <img src="assets/foto1.png" alt="" />
        <img src="assets/foto2.png" alt="" />
        <img src="assets/foto3.png" alt="" />
      </div>
    </div>
  </div>
</div>
