<div class="opiniones">
  <h2>Opiniones de clientes satisfechos</h2>
  <div class="container-opiniones">
    <swiper-container
      class="mySwiper"
      navigation="true"
      space-between="30"
      centered-slides="true"
      autoplay-delay="15000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/lorenza.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Lorenza Yolanda Perez</h6>
          <p>
            En cada ocasión, he recibido un trato amable, y con mucho
            profesionalismo. Algo que me deja muy satisfecha es que se me
            explican los procedimientos y su porque, así como la calidad de los
            materiales.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/iliana.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Liliana Agudelo</h6>
          <p>
            Biodontiq me ha tratado maravillosamente bien. La doctora Nora,
            quien me ha atendido desde hace mucho tiempo, es una profesional en
            su rama. Su dedicación, paciencia y excelente trabajo en mi persona,
            ha hecho que la siga recomendando entre mis amistades. Los felicito
            por ser tan eficientes y contar con personal médico capacitado para
            ofrecer sus servicios.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/erick.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Erick Moncada</h6>
          <p>
            El día que hice mi cita fue muy rápida y muy atenta, cuando llegué
            la atención fue súper rápida y muy puntual con un servicio excelente
            y las mejores recomendaciones en productos dentales la recomiendo
            mucho
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/foto_perfil_3.jpg" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Ivonne Docam</h6>
          <p>
            Excelente servicio! Los consultorios están súper limpios, la
            atención impecable, me retire amalgamas con la Dra Nora muy
            profesional igual que la Dra Ivonne me encantó mi tratamiento y el
            trato, además usan un protocolo especial con última tecnología! muy
            recomendable! Definitivamente regresaré.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/pablin.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Pablinn Díaz</h6>
          <p>
            Excelente servicio y atención, la Doctora Nora siempre aclara dudas
            y brinda las mejores alternativas para los tratamientos
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
