<div class="tratamientos" id="servicios">
  <h2>Servicios de Odontología general</h2> <br>
<div class="services-grid">
    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
     <div class="service-item">
          <div class="service-icon">
              <img  class="imgIcono" src="assets/ortodoncia.png" alt="">
          </div>
          <h3 class="service-title">Ortodoncia </h3>
    </div>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
          <img  class="imgIcono" src="assets/protesis.png" alt="">

        </div>
        <h3 class="service-title">Prótesis</h3>
    </div>
     </a>

     <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
          <img  class="imgIcono" src="assets/periodoncia.png" alt="">
        </div>
        <h3 class="service-title">Periodoncia</h3>
    </div>
    </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
          <img  class="imgIcono" src="assets/pediatria.png" alt="">
        </div>
        <h3 class="service-title">Odontopediatría</h3>
    </div>
    </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
          <img  class="imgIcono" src="assets/cirugia.png" alt="">

        </div>
        <h3 class="service-title">Cirugía Oral</h3>
    </div>
     </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="correcionContacto">
        
        
        <p class="alert-box">Contáctanos para más información. <br>
          Teléfono:<br>
          <a href="https://api.whatsapp.com/send?phone=5620087550">5620087550</a> <br>
          Horario <br>
          Lunes a Viernes de 9:00am a 6:00pm <br>
          Sábados de 9:00am a 1:00pm
        </p>
    </div>
  </a>

</div>


  <!-- <div class="container-tratamientos">
    <div class="item-tratamientos">
      <ul class="sub-item">
        <li *ngFor="let item of Datos">
          <img src="assets/diente-limpio.png" alt="" />
          <p>{{ item.title }}</p>
        </li>
      </ul>
    </div>
  </div> -->
</div>
