.tratamientos {
  background-color: #03a9a5;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cambiado para dispositivos móviles */
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ajuste para ocupar el ancho completo del contenedor padre */
  background-color: white; /* Fondo blanco para contraste */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.service-item {
  height: 200px;
  text-align: center;
  padding: 20px;
  background-color: #f6f1de;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .correcionContacto{
  height: 250px;
  text-align: center;
  padding: 25px;
  background-color: #f6f1de;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.service-icon {
  margin-top: 25px;
  font-size: 36px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  color: #666;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* Cambia a una columna en dispositivos móviles */
  }
}

.tratamientos h2 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  padding-top: 0px;
  margin-bottom: 0;
}
.container-tratamientos {
  width: 85%;
  margin: 10px auto;
}
.item-tratamientos .sub-item {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item-tratamientos .sub-item li {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.item-tratamientos .sub-item li img {
  width: 22px;
  height: 22px;
}
.item-tratamientos .sub-item li p {
  font-size: 20px;
  color: #fff;
}
a {
  color: inherit; /* Hereda el color del texto de su contenedor */
  text-decoration: none; /* Elimina el subrayado */
}
.alert-box {
  height: 100%;
    padding: 20px;
    background-color: #f5b9ae;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Alinear horizontalmente */
    text-align: center; /* Alinear el texto dentro del elemento */
    font-size: 14px;
}
.imgIcono{
  width: 60px;
 }

@media (min-width: 767px) {
  .tratamientos {
    background-color: #03a9a5;
    width: 100%;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tratamientos h2 {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
    margin-bottom: 0;
  }
  .item-tratamientos .sub-item li {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
  }
  .item-tratamientos .sub-item li img {
    width: 25px;
    height: 25px;
  }
  .item-tratamientos .sub-item li p {
    font-size: 28px;
    color: #fff;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cambiado a 3 columnas fijas */
    gap: 20px;
    padding: 20px;
    width: 80%; /* Ajusta el ancho según tu diseño */
    margin: 20px auto; /* Centrado horizontalmente con margen */
    background-color: white; /* Fondo blanco para contraste */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  .imgIcono{
   width: 60px;
  }

  a {
    color: inherit; /* Hereda el color del texto de su contenedor */
    text-decoration: none; /* Elimina el subrayado */
  }
  .alert-box {
    padding: 20px;
    background-color: #f5b9ae; /* Color de fondo del aviso */
    color: rgb(0, 0, 0); /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center; /* Centrar texto */
    font-size: small;
  }
  
  .alert-box p {
    margin: 0; /* Eliminar margen del párrafo */
    font-size: 18px; /* Tamaño de fuente del texto */
  }
  
  
  .alert-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
    transform: translateY(-2px); /* Desplazamiento hacia arriba */
  }
  
  .service-item {
    height: 250px;
    text-align: center;
    padding: 20px;
    background-color: #f6f1de;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .service-item:hover {
    transform: translateY(-5px); /* Desplaza el elemento hacia arriba */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra más pronunciada */
  }
  .service-icon {
    margin-top: 50px;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .service-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 16px;
    color: #666;
  }
  

}
