<div class="tratamientos" id="servicios">
  <h2>Servicios de Odontología general</h2> <br>
<div class="services-grid">
    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
     <div class="service-item">
          <div class="service-icon">
              <i class="fas fa-tooth"></i>
          </div>
          <h3 class="service-title">Ortodoncia </h3>
    </div>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
            <i class="fas fa-heartbeat"></i>
        </div>
        <h3 class="service-title">Prótesis</h3>
    </div>
     </a>

     <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
            <i class="fas fa-user-md"></i>
        </div>
        <h3 class="service-title">Periodoncia</h3>
    </div>
    </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
            <i class="fas fa-briefcase-medical"></i>
        </div>
        <h3 class="service-title">Odontopediatría</h3>
    </div>
    </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        <div class="service-icon">
            <i class="fas fa-teeth"></i>
        </div>
        <h3 class="service-title">Cirugía Oral</h3>
    </div>
     </a>

    <a href="https://api.whatsapp.com/send?phone=5620087550" target="_blank">
    <div class="service-item">
        
        
        <p class="alert-box">Contactanos para mas informaciòn.. <br>
          Horario <br>
          Lunes a Viernes de 9:00am a 6:00pm <br>
          Sábados de 9:00am a 1:00pm
        </p>
    </div>
  </a>

</div>


  <!-- <div class="container-tratamientos">
    <div class="item-tratamientos">
      <ul class="sub-item">
        <li *ngFor="let item of Datos">
          <img src="assets/diente-limpio.png" alt="" />
          <p>{{ item.title }}</p>
        </li>
      </ul>
    </div>
  </div> -->
</div>
