.tratamientos {
  background-color: #03a9a5;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tratamientos h2 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  padding-top: 0px;
  margin-bottom: 0;
}
.container-tratamientos {
  width: 85%;
  margin: 10px auto;
}
.item-tratamientos .sub-item {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item-tratamientos .sub-item li {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.item-tratamientos .sub-item li img {
  width: 22px;
  height: 22px;
}
.item-tratamientos .sub-item li p {
  font-size: 20px;
  color: #fff;
}

@media (min-width: 767px) {
  .tratamientos {
    background-color: #03a9a5;
    width: 100%;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tratamientos h2 {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
    margin-bottom: 0;
  }
  .item-tratamientos .sub-item li {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
  }
  .item-tratamientos .sub-item li img {
    width: 25px;
    height: 25px;
  }
  .item-tratamientos .sub-item li p {
    font-size: 28px;
    color: #fff;
  }
}
