.services {
  width: 100%;
  height: auto;
}
.services h2 {
  color: #03a9a5;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin: 0px auto;
}
.wrapper-services {
  width: 90%;
  margin: 18px auto 25px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.card-container {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}
.card-image img {
  max-width: 100%;
}
.card-title {
  padding: 10px;
}

.card-title h2 {
  text-align: center;
  font-size: 18px;
  margin: 5px 0px;
  color: #03a9a5;
  font-weight: 500;
}
.card-title p {
  text-align: center;
  margin: 2px auto;
  font-size: 14px;
  color: black;
}
.card-title button {
  border: none;
  background-color: #03a9a5;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  margin: 7px auto;
  font-size: 16px;
  display: block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 767px) {
  .wrapper-services {
    width: 80%;
    margin: 18px auto 25px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
    height: 200px;
  }
  .card-2 {
    grid-column: 2/3;
  }
  .card-3 {
    grid-column: 1/2;
    grid-row: 1;
    display: block;
  }
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-title h2 {
    text-align: center;
    font-size: 22px;
    margin: 5px 0px;
    color: #03a9a5;
    font-weight: 500;
  }
  .card-title p {
    text-align: center;
    margin: 2px auto;
    font-size: 16px;
    color: black;
  }
  .card-title button {
    border: none;
    background-color: #03a9a5;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    margin: 7px auto;
    font-size: 16px;
    display: block;
    width: 50%;
  }
}
