<div class="services" id="tratamientos">
  <h2>Tratamientos</h2>

  <div class="wrapper-services">
    <div class="item-services">
      <div class="card-container">
        <div class="card-image">
          <img src="assets/amalgamas.png" alt="" />
        </div>
        <div class="card-title">
          <h2>Remoción segura de amalgamas</h2>
          <p>
            Eliminación de restauraciones de metal/mercurio con protocolo de
            seguridad.
          </p>

          <button (click)="amalgamas()">Saber más</button>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card-container">
        <div class="card-image card-2">
          <img src="assets/ozonoterapia.png" alt="" />
        </div>
        <div class="card-title card-3">
          <h2>Ozonoterapia Dental</h2>
          <p>
            Para tratamiento de caries, encías, sensibilidad dental y otras
            afecciones bucales.
          </p>

          <button (click)="ozonoterapia()">Saber más</button>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card-container">
        <div class="card-image">
          <img src="assets/blanqueamiento.png" alt="" />
        </div>
        <div class="card-title">
          <h2>Blanqueamiento Dental sin químicos</h2>
          <p>
            Sin sensibilidad. <br />
            Sin químicos que dañen los dientes. ​
          </p>

          <button (click)="blanqueamiento()">Saber más</button>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card-container">
        <div class="card-image card-2">
          <img src="assets/aparato.png" alt="" />
        </div>
        <div class="card-title card-3">
          <h2>Láser terapéutico</h2>
          <p>
            Analgesia <br />​ Desinflamación <br />​ Regeneración de tejidos.
          </p>

          <button (click)="laser()">Saber más</button>
        </div>
      </div>
    </div>
  </div>
</div>
