<div class="services" id="tratamientos">
  <h2>Odontología Biológica</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae consequuntur
    et aut impedit animi totam nam voluptas possimus perferendis voluptates
    inventore aliquid iusto, quaerat maiores ex ut obcaecati quam, nisi tempore
    id. Amet dolores ad ipsa numquam, veniam fugit natus.
  </p>
  <div class="wrapper-services">
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/amalgamas.jpg" />
        </div>
        <div class="card-content">
          <h6>Retiros seguros de amalgamas</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el retiro seguro de amalgamas?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>

          <p>
            Investigaciones científicas demuestran que la amalgama dental libera
            vapores de mercurio en ciertas circunstancias, por ejemplo durante
            la masticación, al cepillar los dientes, al apretar o rechinar los
            dientes (bruxismo) y al tomar bebidas calientes. Esta liberación se
            da en forma continua y se acumula en el cuerpo a lo largo del
            tiempo. Los efectos adversos de esta exposición pueden no producir
            manifestación durante años o décadas, lo que permite que pueda
            prolongarse el daño. En BIODONTIQ llevamos a cabo las medidas de
            este protocolo de seguridad, por lo que puedes tener la confianza de
            que serás protegido adecuadamente durante todo el procedimiento de
            la remoción de amalgamas.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/ozonoterapia.jpg" />
        </div>
        <div class="card-content">
          <h6>Ozonoterapia</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es la ozonoterapia?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            El ozono es un gas presente en la atmósfera en forma natural, cuya
            molécula tiene tres átomos de oxígeno en lugar de los dos del
            oxígeno común; su fórmula química es O3. El ozono médico utilizado
            en los procedimientos dentales es una combinación de oxígeno (99.5%)
            y ozono (0.5%) que se obtiene artificialmente con oxígeno medicinal.
            Tiene propiedades antisépticas (elimina bacterias, virus y hongos),
            analgésicas y antiinflamatorias, estimula al sistema inmunológico y
            mejora la circulación periférica y la oxigenación de los tejidos.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/blanqueamiento.jpg" />
        </div>
        <div class="card-content">
          <h6>Blaqueamiento con Ozono</h6>
          <span class="card-title activator grey-text text-darken-4"
            ><i class="fa-solid fa-circle-plus"></i
          ></span>
        </div>
        <div class="card-reveal">
          <h6>¿Como es la Blaqueamiento con Ozono?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            El blanqueamiento con ozono se realiza con oxígeno medicinal, que de
            forma natural respeta la biología de los dientes y elimina los
            pigmentos que los oscurecen, y como beneficio adicional, proporciona
            un efecto terapéutico al eliminar bacterias patógenas, favoreciendo
            así a la salud de las encías y mucosa bucal.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/laserTerapeutico.jpg" />
        </div>
        <div class="card-content">
          <h6>Laser Terapeutico</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el Laser Terapeutico?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
