.services {
  width: 100%;
  height: auto;
}
.services h2 {
  color: #03a9a5;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin: 0px auto;
}
.wrapper-services {
  width: 90%;
  margin: 18px auto 25px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.imagenCambio{
  width: 250px;
}
.item-services{
  height: 100%;
}
.card-container{
  height: auto;
}
.img-compu{
  aspect-ratio: 16/9;
}

.card-container {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}
.card-image img {
  max-width: 100%;
  object-fit: cover;
}
.card-title {
  padding: 10px;
}

.card-title h2 {
  text-align: center;
  font-size: 18px;
  margin: 5px 0px;
  color: #03a9a5;
  font-weight: 500;
}
.card-title p {
  text-align: center;
  margin: 2px auto;
  font-size: 14px;
  color: black;
}
.card-title button {
  border: none;
  background-color: #03a9a5;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  margin: 7px auto;
  font-size: 16px;
  display: block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.img-cel {
  display: block;
}
.img-compu {
  display: none;
}
.card-image  .imagenCambio {
  width: 100%;
 
}

@media (min-width: 767px) {
  .wrapper-services {
    width: 100%;
    margin: 18px auto 25px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5px;
        padding-right: 10px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    border: 1px solid #d8d8d8; 
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
    height: auto;
  }

  .card-title {
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Títulos arriba */
    align-items: center;
    text-align: center; /* Alinear texto al centro */
  }

  .card-title h2 {
    text-align: center;
    font-size: 20px;
    margin: 5px 0px;
    color: #03a9a5;
    font-weight: 500;
  }
  .card-title p {
    flex-grow: 1; /* Párrafos en el medio */
    text-align: center; /* Alinear texto al centro */
    padding: 0 15px; /* Espaciado lateral opcional */
    margin: 2px auto;
    font-size: 13px;
    color: black;
  }
  .card-title button {
    align-self: flex-end; /* Botón abajo */
    margin-top: auto; /* Alinear al final del contenedor */
    border: none;
    background-color: #03a9a5;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    margin: 7px auto;
    font-size: 16px;
    display: block;
    width: 200px;
    cursor: pointer;
  }
  .card-image img {
    width: 350px;
    height: 154px;
    object-fit: cover;
  }
  .card-image  .imagenCambio {
    width: 200px;
   
  }

  .img-cel {
    display: none;
  }
  .img-compu {
    display: block;
  }
}
