<div class="container-neurofocal">
    <h2>Odontología Neurofocal</h2>
    <div class="container-item-neurofocal">
      <div class="item-neurofocal">
        <p>
          La Odontología Neurofocal es una disciplina de la odontología que explora las interacciones entre 
          los dientes, el sistema nervioso y la salud general del individuo. Esta práctica se fundamenta en 
          la idea de que cada diente tiene una relación directa con ciertos órganos y tejidos del cuerpo a 
          través de conexiones nerviosas y meridianos energéticos.
        </p>
        <p > <br>
           <span class="resaltar">Beneficios : </span> 
        </p>
        <ul>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Promueve un enfoque integrador que considera la salud dental como parte de la salud global del individuo.</p>
          </li><br>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Busca identificar y tratar problemas dentales antes de que afecten otros sistemas del cuerpo.</p>
          </li><br>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Mejora potencialmente el bienestar general al abordar problemas subyacentes que pueden estar relacionados con la salud dental.</p>
          </li><br>
        </ul>
      
        <img src="assets/neurofoto.jpg" class="neurofocal2" alt="" />
      </div>
    </div>
  </div>
  