<div class="container-neurofocal">
    <h2>Odontología Neurofocal</h2>
    <div class="container-item-neurofocal">
      <div class="item-neurofocal">
        <p>
          La Odontología Neurofocal es una rama de la Estomatología en la que se  relacionan problemas 
          dentales con enfermedades o síntomas en otras partes del cuerpo. Se considera que cualquier cosa 
          que pase en la boca puede tener repercusión en el resto del cuerpo y viceversa. Ninguna parte del 
          organismo biológico funciona aisladamente; hay una interdependencia estrecha con otros órganos y 
          sistemas. 
        </p>
        <p > <br>
          Por medio de la Odontología Neurofocal <span class="resaltar"> podemos identificar desequilibrios o 
          “campos interferentes” </span> que podrían estar causando alguna alteración a nivel físico 
          en un órgano a distancia.
        </p><br>
        <p>
          Una vez identificado un campo interferente, se realiza el tratamiento adecuado a cada caso: 
        </p> <br>
        <ul>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Infiltración periódica de la zona (aplicación de procaína a modo de acupuntura, para activar la respuesta curativa del cuerpo)..</p>
          </li><br>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Cambiar la restauración o el material existente. </p>
          </li><br>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Rehacer el tratamiento.</p>
          </li><br>
          <li>
            <i class="fa-solid fa-tooth"></i>
            <p>Eliminarlo quirúrgicamente.</p>
          </li><br>
        </ul>
       
        </div>
        <div class="container-img">
          <img src="assets/neurofocal-1.png" class="neurofocal2" alt="" />
          <img src="assets/neurofocal-2.png" class="neurofocal2" alt="" />
      </div>
    </div> <br>
  </div>
  