<div class="modal-contenido" [ngClass]="openModal ? 'openMod' : ''">
  <div class="modal-componente">
    <span (click)="closeModal()">
      <i class="fa-solid fa-circle-xmark"></i>
    </span>
    <h2>¡Aprovecha nuestras promociones!</h2>
    <div class="container-modal">
      <div class="item-modal-componente">
        <img src="assets/promo1.png" alt="" />
      </div>
      <div class="item-modal-componente">
        <img src="assets/promo2.png" alt="" />
      </div>
    </div>
    <div class="modal-contacto">
      <a
        href="
        "
        >Contacto</a
      >
    </div>
  </div>
</div>
