<div class="container-amalgamas">
  <h2>Laser terapéutico en odontología</h2>
  <div class="container-item-amalgamas">
    <div class="item-amalgmas">
      <p>
        La palabra láser es un acrónimo en inglés que quiere decir
        <span class="resaltar"
          >"amplificación de luz por emisión estimulada de radiación".</span
        >
      </p>
      <img src="assets/image14.jpeg" class="laser" alt="" />
      <p>
        Existen varios <span class="resaltar">tipos de láser </span> y cada uno
        de ellos emite un haz de luz con una única longitud de onda. En base a
        esta, el láser tiene determinadas funciones en la cavidad bucal
        dependiendo el tejido que se trate, es decir, diferentes láseres
        producen efectos distintos sobre un mismo tejido.
      </p>
      <p>
        El <span class="resaltar">láser terapéutico </span> permite realizar una
        amplia gama de tratamientos bucodentales, entre ellos:
      </p>
      <ul>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>Ayuda a tratar lesiones en las encías y  mucosa bucal.</p>
        </li>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>Tiene efecto analgésico y antiinflamatorio.</p>
        </li>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>Es útil en el tratamiento de la hipersensibilidad dental.</p>
        </li>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>
            Auxiliar en tratamientos postoperatorios, ya que cuenta con
            características bioestimulantes que pueden favorecer la
            cicatrización.
          </p>
        </li>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>
            En el tratamiento de ortodoncia sirve para disminuir el dolor
            después de llevarse a cabo ajustes ortodóncicos, por sus propiedades
            analgésicas.
          </p>
        </li>
        <li>
          <img src="assets/diente-limpio-2.png" alt="" />
          <p>
            Puede emplearse en el tratamiento de heridas diversas, ya que actúa
            como un agente cauterizante. 
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
