.inicio {
  width: 100%;
}
.portada-compu {
  display: none;
}
.portada-mobil {
  max-width: 100%;
}

@media (min-width: 767px) {
  .portada-compu {
    max-width: 100%;
    display: block;
  }
  .portada-mobil {
    display: none;
  }
}
